/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e0dfdf; /* Warna latar belakang */
}

/* Header styles */
header {
  background-color: #9cbf13;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Container styles */
.container {
  display: flex;
  flex: 1;
  background-color: #fff; /* Warna latar belakang kontainer */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  margin: 20px;
  overflow: hidden;
}

/* Sidebar styles */
.sidebar {
  background-color: #9cbf13;
  color: #fff;
  width: 20%;
  padding: 20px;
}

/* Sidebar card styles */
.sidebar-card {
  list-style: none;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  transition: background-color 0.3s ease;
  /* make rounded */
  border-radius: 5px;
}

.sidebar-card:hover {
  background-color: #e8f7ac;
}

/* Content styles */
.content {
  flex: 1;
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #9cbf13;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Tambahkan aturan CSS untuk .paragraph-container */
.paragraph-right {
  flex: 1; /* Agar konten di dalamnya merapatkan elemen ke kanan */
  display: flex;
  justify-content: flex-end; /* Mengatur konten agar selalu ada di sebelah kanan */
  align-items: flex-end; /* Mengatur konten agar selalu ada di bawah */
}

/* for form css */
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="radio"],
input[type="date"],
input[type="number"] {
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.button {
  text-decoration: none;
  width: 100%;
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}
.button:hover {
  background-color: #0056b3;
}
.select {
  background-color: #f0f0f0; /* Ganti dengan warna latar belakang yang Anda inginkan */
  color: #333; /* Ganti dengan warna teks yang Anda inginkan */
  padding: 5px; /* Ganti dengan padding yang Anda inginkan */
  border: 1px solid #ccc; /* Ganti dengan gaya border yang Anda inginkan */
  border-radius: 4px; /* Ganti dengan radius sudut yang Anda inginkan */
}

/* margin bootom */
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}

/* margin top */
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}

/* padding */
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}

/* text color */
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.text-green {
  color: #9cbf13;
}
.text-gray {
  color: #e0dfdf;
}

/* text color hover */
.text-green-hover:hover {
  color: #7a9d10;
}
.text-white-hover:hover {
  color: #e0dfdf;
}

/* hide underline in a href */
.hide-underline {
  text-decoration: none;
}

/* text */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* bg colour */
.bg-green {
  background-color: #9cbf13;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #007bff;
}
.bg-gray {
  background-color: #e0dfdf;
}
.bg-red {
  background-color: #dc3545;
}
